In [1]:
from sqlalchemy import create_engine 
import pandas as pd

In [2]:
# Establish connection 
mysql_engine = create_engine('mysql://root:Mako1234@localhost:3306/kosherdb')

In [3]:
# Start exploring tables I want
ticketdepartments = pd.read_sql_table('tblticketdepartments', mysql_engine)

In [4]:
ticketdepartments

,id,name,description,email,clientsonly,piperepliesonly,noautoresponder,hidden,order,host,port,login,password,mail_auth_config,feedback_request
0,1,Support,For technical support regarding your server. C...,support@ramnode.com,on,,,,1,pop.gmail.com,995,support@ramnode.com,lTyfd+Tm1ryNl+01JeKQu2hFuIIcgxxZWcAnAQ==,None,0
1,2,Accounts,"For help with accounts issues (payments, invoi...",accounts@ramnode.com,on,,,,2,pop.gmail.com,995,accounts@ramnode.com,/wuUJ02Feqo6KO4jOUTVUI9tqxF37gpRxNOLOw==,None,0
2,3,Sales / General,For sales questions and general inquiries. You...,sales@ramnode.com,,,,,4,pop.gmail.com,995,sales@ramnode.com,hP6C/ESbvs9eqEyaGu0qej2wiqwHTw3xpYUHTQ==,None,0
3,5,Abuse Department,Abuse,abuse@ramnode.com,,,on,on,5,pop.gmail.com,995,abuse-relay@ramnode.com,oyA5I56QJFMlu0K0wStAk+epyygQxq4zGtSt9Q==,None,0
4,7,Legal,Legal,legal@ramnode.com,,,on,on,6,pop.gmail.com,995,legal@ramnode.com,dzMbrIickqJLv6CChvz7b9QySXvyhsO4fo4AFw==,None,0

In [5]:
# This table takes a long time to read in 
tickets= pd.read_sql_table('tbltickets', mysql_engine)

In [7]:
tickets['replyingtime']

Index(['id', 'tid', 'did', 'userid', 'contactid', 'requestor_id', 'name',
       'email', 'cc', 'c', 'ipaddress', 'date', 'title', 'message', 'status',
       'urgency', 'admin', 'attachment', 'attachments_removed', 'lastreply',
       'flag', 'clientunread', 'adminunread', 'replyingadmin', 'replyingtime',
       'service', 'merged_ticket_id', 'editor', 'updated_at'],
      dtype='object')

In [9]:
tickets['date']

0        2012-06-12 03:40:33
1        2012-06-13 01:56:44
2        2012-06-13 03:10:03
3        2012-06-13 04:34:41
4        2012-06-13 10:42:55
                 ...
227469   2022-09-20 08:43:26
227470   2022-09-20 09:16:16
227471   2022-09-20 09:42:17
227472   2022-09-20 09:21:19
227473   2022-09-20 09:50:09
Name: date, Length: 227474, dtype: datetime64[ns]

In [13]:
tickets['replyingtime'][227473]

NaT

In [14]:
ticketreplies = pd.read_sql_table('tblticketreplies', mysql_engine)

In [16]:
ticketreplies['admin'].unique()

array(['Nick Adams', '', 'Tyler Salwierz', 'Chris Easton', 'Elliot Speck',
       'Spencer Sword', 'Raoul Vos', 'Matt McGowan', 'Matt M.', 'Nick A.',
       'Raoul V.', 'Spencer S.', 'Marc van Rooij', 'Gus N', 'Gus N.',
       'Chris B.', 'George T.', 'Brandon W.', 'Sean S.', 'Sean P.',
       'Mike A.', 'Scott L.', 'Caleb B.', 'RamNode Legal', 'Vanessa V.'],
      dtype=object)

In [19]:
tickets.columns
# Looks like maybe did is department id

Index(['id', 'tid', 'did', 'userid', 'contactid', 'requestor_id', 'name',
       'email', 'cc', 'c', 'ipaddress', 'date', 'title', 'message', 'status',
       'urgency', 'admin', 'attachment', 'attachments_removed', 'lastreply',
       'flag', 'clientunread', 'adminunread', 'replyingadmin', 'replyingtime',
       'service', 'merged_ticket_id', 'editor', 'updated_at'],
      dtype='object')

In [23]:
tickets.did.unique()

array([1, 3, 2, 5, 7], dtype=int64)

In [35]:
ticketstats= pd.read_sql_table('tblticketstatuses', mysql_engine)
tickets['tid'].unique()

array(['230889', '924025', '976293', ..., '653121', '342239', '794640'],
      dtype=object)

In [ ]:
len(tickets['tid'].unique())

In [44]:
tickets[tickets['tid'] == '976293'][['date','replyingtime']]

                 date replyingtime
2 2012-06-13 03:10:03          NaT

In [59]:
tickets[tickets['tid'] == '230224']

Empty DataFrame
Columns: [id, tid, did, userid, contactid, requestor_id, name, email, cc, c, ipaddress, date, title, message, status, urgency, admin, attachment, attachments_removed, lastreply, flag, clientunread, adminunread, replyingadmin, replyingtime, service, merged_ticket_id, editor, updated_at]
Index: []

[0 rows x 29 columns]

In [68]:
tickets

,id,tid,did,userid,contactid,requestor_id,name,email,cc,c,...,lastreply,flag,clientunread,adminunread,replyingadmin,replyingtime,service,merged_ticket_id,editor,updated_at
0,2,230889,1,14,0,0,,,,Mjrwm6se,...,2012-06-12 07:17:36,0,0,",1,2,8,27",0,NaT,,0,plain,NaT
1,3,924025,1,6,0,0,,,,ojBD5yOo,...,2012-06-13 03:15:33,0,0,",1,2",0,NaT,S8,0,plain,NaT
2,4,976293,1,13,0,0,,,,9wVrFgYs,...,2012-06-13 08:17:14,0,1,",1,2",0,NaT,,0,plain,NaT
3,5,234515,1,16,0,0,,,,ggLR4fX0,...,2012-06-13 06:33:25,0,0,",1,2",0,NaT,S19,0,plain,NaT
4,6,205616,1,17,0,0,,,,8nZKDo1i,...,2012-06-13 11:34:20,0,0,",1,2",0,2012-07-04 10:53:28,S20,0,plain,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227469,230222,711561,1,94876,0,94698,,,,DXj5Fo18,...,2022-09-20 08:58:32,0,1,19,0,NaT,S207550,0,markdown,2022-09-20 04:43:26
227470,230223,489667,2,17294,0,13832,,,,UPhCJO31,...,2022-09-20 09:36:16,0,1,19,0,NaT,,0,markdown,2022-09-20 05:16:16
227471,230225,653121,1,590,0,614,,,,Cg5YOGHZ,...,2022-09-20 09:42:17,0,0,19,0,NaT,,0,markdown,2022-09-20 05:42:17
227472,230224,342239,1,93235,0,93337,,,,jx4IEz1P,...,2022-09-20 09:50:40,0,1,19,0,NaT,,0,markdown,2022-09-20 05:21:19
227473,230226,794640,3,0,0,0,Claire Ward,claire.jane.ward@gmail.com,,z0WEPNCW,...,2022-09-20 09:50:09,0,1,19,0,NaT,,0,plain,2022-09-20 05:50:09

In [67]:
ticketreplies[ticketreplies['tid'] == 230224]
#ticketreplies[ticketreplies['tid'] == 227473]

Empty DataFrame
Columns: [id, tid, userid, contactid, requestor_id, name, email, date, message, admin, attachment, attachments_removed, rating, editor]
Index: []

In [69]:
ticketreplies

,id,tid,userid,contactid,requestor_id,name,email,date,message,admin,attachment,attachments_removed,rating,editor
0,1,2,0,0,0,,,2012-06-12 04:00:18,"Hello,\r\n\r\nAt the moment we only have one O...",Nick Adams,,0,0,plain
1,2,2,14,0,0,,,2012-06-12 05:04:22,Do you have anything in Xen at a similar price...,,,0,0,plain
2,3,2,0,0,0,,,2012-06-12 07:17:36,"No, but I might be able to create something cu...",Nick Adams,,0,0,plain
3,4,3,0,0,0,,,2012-06-13 02:35:10,"Hi Ryan,\r\n\r\nI'll have to do that on our en...",Nick Adams,,0,0,plain
4,5,3,6,0,0,,,2012-06-13 02:37:20,"I have the domain name ryanclancy000.com, so I...",,,0,0,plain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650121,650899,230177,0,0,0,,,2022-09-20 09:40:56,"Hello,\r\n\r\nCan you please re-send the attac...",George T.,,0,0,markdown
650122,650900,230203,0,0,0,,,2022-09-20 09:41:03,"Hello,\r\n\r\nCan you please re-send the attac...",George T.,,0,0,markdown
650123,650901,230224,93235,0,93337,,,2022-09-20 09:44:20,I don&#039;t find Addon Domain option,,,0,0,markdown
650124,650902,230224,93235,0,93337,,,2022-09-20 09:44:54,Please share snapshot,,,0,0,markdown
650125,650903,230224,0,0,0,,,2022-09-20 09:50:40,"Hello,\r\n\r\nPlease see here: https://a.cl.ly...",George T.,,0,0,markdown

In [86]:
tickets[tickets['tid'] == '230222']
tickets[tickets['tid'] == '230203']


tickets[tickets['tid'] == '230224']
tickets[tickets['userid'] == '93235']

Empty DataFrame
Columns: [id, tid, did, userid, contactid, requestor_id, name, email, cc, c, ipaddress, date, title, message, status, urgency, admin, attachment, attachments_removed, lastreply, flag, clientunread, adminunread, replyingadmin, replyingtime, service, merged_ticket_id, editor, updated_at]
Index: []

[0 rows x 29 columns]

,id,name,description,email,clientsonly,piperepliesonly,noautoresponder,hidden,order,host,port,login,password,mail_auth_config,feedback_request
0,1,Support,For technical support regarding your server. C...,support@ramnode.com,on,,,,1,pop.gmail.com,995,support@ramnode.com,lTyfd+Tm1ryNl+01JeKQu2hFuIIcgxxZWcAnAQ==,None,0
1,2,Accounts,"For help with accounts issues (payments, invoi...",accounts@ramnode.com,on,,,,2,pop.gmail.com,995,accounts@ramnode.com,/wuUJ02Feqo6KO4jOUTVUI9tqxF37gpRxNOLOw==,None,0
2,3,Sales / General,For sales questions and general inquiries. You...,sales@ramnode.com,,,,,4,pop.gmail.com,995,sales@ramnode.com,hP6C/ESbvs9eqEyaGu0qej2wiqwHTw3xpYUHTQ==,None,0
3,5,Abuse Department,Abuse,abuse@ramnode.com,,,on,on,5,pop.gmail.com,995,abuse-relay@ramnode.com,oyA5I56QJFMlu0K0wStAk+epyygQxq4zGtSt9Q==,None,0
4,7,Legal,Legal,legal@ramnode.com,,,on,on,6,pop.gmail.com,995,legal@ramnode.com,dzMbrIickqJLv6CChvz7b9QySXvyhsO4fo4AFw==,None,0

In [48]:
ticketreplies.groupby('tid').count()

,id,userid,contactid,requestor_id,name,email,date,message,admin,attachment,attachments_removed,rating,editor
tid,,,,,,,,,,,,,
2,3,3,3,3,3,3,3,3,3,3,3,3,3
3,3,3,3,3,3,3,3,3,3,3,3,3,3
4,9,9,9,9,9,9,9,9,9,9,9,9,9
5,2,2,2,2,2,2,2,2,2,2,2,2,2
6,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230216,3,3,3,3,3,3,3,3,3,3,3,3,3
230218,3,3,3,3,3,3,3,3,3,3,3,3,3
230222,1,1,1,1,1,1,1,1,1,1,1,1,1
230223,2,2,2,2,2,2,2,2,2,2,2,2,2
230224,4,4,4,4,4,4,4,4,4,4,4,4,4

In [77]:
ticketnotes = pd.read_sql_table('tblticketnotes', mysql_engine)
ticketnotes

,id,ticketid,admin,date,message,attachments,attachments_removed,editor
0,2,190,Nick Adams,2012-07-29 00:39:32,REMOVE SMTP BLOCK IF CANCELS,,0,plain
1,3,809,Nick Adams,2012-10-29 13:24:17,IPs have been removed. Still need ARIN justifi...,,0,plain
2,4,882,Nick Adams,2012-11-05 19:48:37,Rate limited to 100Mbps until we hear back.,,0,plain
3,5,882,Nick Adams,2012-11-06 04:51:26,Massive packet sending to 72.242.228.170,,0,plain
4,6,882,Nick Adams,2012-11-06 04:53:49,http://pastie.org/5194463,,0,plain
...,...,...,...,...,...,...,...,...
5477,5694,230155,RamNode Legal,2022-09-19 12:16:40,Customer advised of complaint in ticket 343141...,,0,markdown
5478,5695,230180,RamNode Legal,2022-09-19 13:43:22,ericr 09/19/2022: 337095 : Customer advised ma...,,0,markdown
5479,5696,230152,RamNode Legal,2022-09-19 13:43:44,ericr 09/19/2022: 337095 : Customer advised ma...,,0,markdown
5480,5697,230155,RamNode Legal,2022-09-19 13:45:35,ericr 09/19/2022: 343141 : Customer advised ma...,,0,markdown
5481,5698,230181,RamNode Legal,2022-09-19 13:45:42,ericr 09/19/2022: 343141 : Customer advised ma...,,0,markdown

In [87]:
ticketreplies

,id,ticketid,admin,date,message,attachments,attachments_removed,editor
0,2,190,Nick Adams,2012-07-29 00:39:32,REMOVE SMTP BLOCK IF CANCELS,,0,plain
1,3,809,Nick Adams,2012-10-29 13:24:17,IPs have been removed. Still need ARIN justifi...,,0,plain
2,4,882,Nick Adams,2012-11-05 19:48:37,Rate limited to 100Mbps until we hear back.,,0,plain
3,5,882,Nick Adams,2012-11-06 04:51:26,Massive packet sending to 72.242.228.170,,0,plain
4,6,882,Nick Adams,2012-11-06 04:53:49,http://pastie.org/5194463,,0,plain
...,...,...,...,...,...,...,...,...
5477,5694,230155,RamNode Legal,2022-09-19 12:16:40,Customer advised of complaint in ticket 343141...,,0,markdown
5478,5695,230180,RamNode Legal,2022-09-19 13:43:22,ericr 09/19/2022: 337095 : Customer advised ma...,,0,markdown
5479,5696,230152,RamNode Legal,2022-09-19 13:43:44,ericr 09/19/2022: 337095 : Customer advised ma...,,0,markdown
5480,5697,230155,RamNode Legal,2022-09-19 13:45:35,ericr 09/19/2022: 343141 : Customer advised ma...,,0,markdown
5481,5698,230181,RamNode Legal,2022-09-19 13:45:42,ericr 09/19/2022: 343141 : Customer advised ma...,,0,markdown